* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

section {
    background: linear-gradient(
        136.16deg,
        rgba(91, 135, 75, 0.97) 12.91%,
        rgba(12, 55, 32, 0.87) 87.68%
    );
    height: 100vh;
}

section .container {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 50px;
    height: 100%;
}

section .container header,
section .container header .left  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


section .container nav {
    display: flex;
    flex-direction: row;
}

section .container nav a {
    margin-left: 50px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: right;
    align-items: center;

}

section .container nav a:nth-child(5){
    font-weight: 500;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 50px;

}

section .container .middle-content {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section .container .middle-content > .left {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section .container .middle-content .right {
    /* background-color: red;   */
}

section .container .middle-content .bloc-text span {
    font-weight: bold;
    font-style: normal;
    color: white;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

section .container .middle-content .bloc-text h1 {
    font-weight: 900;
    font-style: normal;
    color: white;
    font-size: 68px;
    line-height: 109%;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    margin: 14px 0;
}


section .container .middle-content .bloc-text p {
    font-weight: normal;
    font-style: normal;
    color: white;
    font-size: 16px;
    line-height: 180%;
    text-transform: uppercase;
    margin: 25px 0;
}

section .container .middle-content .bloc-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
    margin-top: 50px;
}

section .container .middle-content .bloc-button .book-now{
    padding: 10px 20px;
    background-image: url(Rectangle\ 9.png);
    background-size: 100% 100%;
    width: 170px;
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .container .middle-content .bloc-button .book-now a{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #303056;
}

section .container .middle-content .bloc-button .track-record a{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: white;
}